<header id="header">
  <div class="container">



    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/sessions/new">Login</a></li>
        <li><a href="/user/new">Signup</a></li>
          </ul>
        </li>
    </nav>
</header>
