<div class="container">

  <nav id="nav-menu-container">
    <ul class="nav-menu">
      <li>
        <a href="/sessions/new">Login</a>
      </li>
      <li>
        <a href="/user/new">Signup</a>
      </li>
    </ul>
  </li>
</nav>


<h2>Recipe Directory:</h2>

<h1>Ingredients</h1>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-12</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-13</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-14</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-15</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-16</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1">Ingredinet-17</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-18</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-19</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="1"/>ingredient-20</label>
</div>

<div class="recipe">
<%= form_tag('/search', method: "get", id: "recipe-search") do %>
<%= text_field_tag :search, params[:search_term], placeholder: "Search Recipes" %>
<%= submit_tag("Search", class: "search-recipe") %>
<% end %>
</div>
