<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basil | Find recipes from your fridge</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>
<body>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/"><h1 id="main-header">Basil</h1></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/sessions/new">Login</a></li>
          <li><a href="/user/new">Signup</a></li>
            </ul>
          </li>

      </nav>
    </div>
  </header>

  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Basil</h1>
      <h2>Where your fridge meets the world of deliciousness.</h2>
      <a href="/user/new" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">What We Do</h3>
          <p class="section-description"></p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
              <h4 class="title"><a href="">User Story</a></h4>
              <p class="description">Sign up or not, we don't care. We want to bring you an easy to use platform for getting rid of all that useless stuff in your fridge and create delicious meals with it.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
              <h4 class="title"><a href="">Fast and Easy</a></h4>
              <p class="description">At BASIL we aim to keep our site fast, effective, and easy to use. If you find any problems just create a pull request on github and help us out.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
              <h4 class="title"><a href="">Send Recipes</a></h4>
              <p class="description">Like a recipe or need one more ingredient? Just email or text it to yourself with the built in handy text and email alerts (Only for members.)</p>
            </div>
          </div>
      </div>
    </section><!-- #services -->


    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Why Use Basil?</h3>
            <p class="cta-text">Ask yourself one question... What's in your fridge? If the answer to that is the same as everyone else (random garbage) then you BASIL. Get rid of all that "garbage" and turn it into a delicious meal.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="/user/new">Signup</a>
          </div>
        </div>
      </div>
    </section><!-- #call-to-action -->

    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">The Team</h3>

        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <img class="team-pic" src="/levi.jpg">
              <h4>Levi Perry</h4>
              <span>Front End</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <img class="team-pic" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAKXAAAAJDE1N2ViNDFiLTFjMWEtNDZlZC05ZmY4LWJkZjczZjk0Y2ZjZQ.jpg">
              <h4>Sherry Cheng</h4>
              <span>User Auth & Authorization</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <img class="team-pic" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAIA_wDGAAAAAQAAAAAAAAn6AAAAJGI1MzAwNzZhLWZkZTYtNDIzYS1iYzQ4LTkyY2UwN2EzMDBjMw.jpg">
              <h4>Beth Witten</h4>
              <span>Backend</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <img class="team-pic" src="https://mattjhorn.files.wordpress.com/2012/09/images.jpg">
              <h4>Austin Olsen</h4>
              <span>Backend</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


  </main>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Basil</strong>. All FOODS Reserved
      </div>

    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="contactform/contactform.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
