.nav-menu a{
  color: grey;
}

body{
  background-image: url(http://www.publicdomainpictures.net/pictures/60000/velka/grey-gradient-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}


.row{
  margin-bottom: 1%;
  margin-top: 1%;
  width: 100%;
}


.single{
  width: 47%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.group-1{
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
.group-2{
  display: inline-block;
  margin-right: 5%;
}
.group-3{
  display: inline-block;
  margin-right: 5%;
}
.group-4{
  display: inline-block;
}

.whole-ingredients{
  text-align: center;

  -moz-box-shadow: 0 1px 1px;
-webkit-box-shadow: 0 0   25px 0;
        box-shadow: 0 0   25px 0;
        width: 50%;
        margin: 0 auto;
        background-color: white;
}

.search-recipe{
  background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.add{
  background-color: grey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}


.recipe{
  margin-top: 1%;
  text-align: center;
  margin-bottom: 1%;

}

#main-head{
  text-align: center;
}


.confirm{
  text-align: left;
}

label{
  color: grey;
}

.confirm-box{
  text-align: center;
  border-style: solid;
  width: 30%;
  margin: 0 auto;
  border-color: grey;
}

.indiv{
  display: inline-block;
}

.spots{
margin-right: 3%;
margin-left: 3%;
margin-bottom: 3%;
}

.box h3{
  text-align:center;
	position:relative;
	top:80px;
}
.box {
	width:70%;
	height:200px;
	background:#FFF;
	margin:40px auto;
}
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
          background-image: url();
          background-repeat: no-repeat;
          background-size: cover;
}

label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}
