.nav-menu a{
  color: grey;
}

.group-1{
  display: inline-block;
}
.group-2{
  display: inline-block;
}
.group-3{
  display: inline-block;
}
.group-4{
  display: inline-block;
}

.whole-ingredients{
  text-align: center;
}

.recipe{
  margin-top: 1%;
  text-align: center;
}
