<div class="profile">
<div class="row">
<nav id="nav-menu-container">
  <ul class="nav-menu">
    <li >
      <a href="/logout" class="log">Logout</a>
    </li>
  </ul>
</nav>
</div>

<div class="profile-pic">
  <img class="beth" height="200" src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_hipster_guy-512.png">
</div>

<div class="info">
  <p><strong>Phone:</strong> 555-555-555 <br>
  <div class="email"><strong>Email:</strong> <%= current_user.email %> <a href="/edit"> <i class="fa fa-pencil" aria-hidden="true"></i></a></p></div>
</div>
</div>

<div class="saved">
  <h3> Your saved recipes: </h3><br>
</div>
  <ul>
    <% @recipe_list.each do |recipe| %>
      <li><strong><%= recipe.title  %> </strong></li>
    <% end %>
  </ul>
