<div class="profile-pic">
  <img class="beth" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAIA_wDGAAAAAQAAAAAAAAn6AAAAJGI1MzAwNzZhLWZkZTYtNDIzYS1iYzQ4LTkyY2UwN2EzMDBjMw.jpg">
</div>

<div class="info">
  <p><strong>Phone:</strong> 555-555-5555 <br>
  <strong>Email:</strong> bwitten@yahoo.com</p>
</div>
